{% extends 'base.html' %}

{% block content %}
    {% if user.get_username == game.creator %}
    <p class="no-articles">Can't rate your own game</p>
    {% else %}

    <section id="register-page" class="content auth">
        <form action="{% url 'add-comment' pk %}" id="register" method="post">
            {% csrf_token %}
            <div class="container">
                <h1>Add Comment</h1>

                {{ form.errors.rating }}
                {{ form.errors.comment }}
                <label for="id_rating">Rate game:</label>
                {{ form.rating }}
                {{ form.comment }}

                <input class="btn submit" type="submit" value="Comment">
            </div>
        </form>
    </section>

    {% endif %}

{% endblock %}