{% extends 'base.html' %}

{% block content %}
    {% if user.get_username != game.creator %}
    <p class="no-articles">You do not have access to this page!</p>
    {% else %}
    <section id="register-page" class="content auth">
        <form action="{% url 'delete-game' game.id %}" id="register" method="post">
            {% csrf_token %}
            <div class="container">
                <h1>Are you sure you want to delete this game?</h1>

                <input class="btn delete" style="font-size: 20px;" type="submit" value="Delete Game">
            </div>
        </form>
    </section>
    {% endif %}
{% endblock %}