{% extends 'base.html' %}

{% block content %}
    <section id="register-page" class="content auth">
        <form action="{% url 'login' %}?next={{request.GET.next}}" id="register" method="post">
            {% csrf_token %}
            <div class="container">
                <h1>Login</h1>

                {{ form }}

                <input class="btn submit" type="submit" value="Login">
            </div>
        </form>
        <p style="color: #E8E5E8;"><strong>Don't have an account?</strong><a style="color: #18C3E8;" href="{% url 'register' %}">Sign up</a></p>
    </section>
{% endblock %}